# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
weather_info-*.tar

# personal data
owm_token.txt
my_config.yaml

# -----------------------------
# old python stuff
openweathermap_token.txt
#weather_log.txt
weather_log*
weatherLog*
errors.txt
error.txt
town.txt
towns.txt
index.html

*.pyc
*.py.save
*.swp
*.png
