[Unit]
Description=Server for info website of weather info script
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/weather_info/
User=pi
ExecStart=/bin/python3 /home/pi/weather_info/info_server.py
Restart=on-failure
Environment="PYTHONPATH=$PYTHONPATH:/home/pi/.local/lib/python3.9/site-packages"

[Install]
WantedBy=multi-user.target
