[Unit]
Description= Weather display script for waveshare epaper HAT
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/python3 /home/pi/weather_info/weather.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
